// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ9650 RDP board common device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include <dt-bindings/clock/qcom,qce2204-nsscc.h>
#include <dt-bindings/reset/qcom,qce2204-nsscc.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

#include "ipq9650.dtsi"

/ {
	aliases {
		serial0 = &uart1;
	};

	chosen {
		stdout-path = "serial0";
		bootargs-append = " clk_ignore_unused";
	};

	clocks {
		qce2204_xo: qce2204-xo {
			compatible = "fixed-clock";
			clock-frequency = <50000000>;
			#clock-cells = <0>;
		};

		qce2204_uniphy1_rx_312p5m: qce2204-uniphy1-rx-312p5m {
			compatible = "fixed-clock";
			clock-frequency = <312500000>;
			#clock-cells = <0>;
		};

		qce2204_uniphy1_tx_312p5m: qce2204-uniphy1-tx-312p5m {
			compatible = "fixed-clock";
			clock-frequency = <312500000>;
			#clock-cells = <0>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&gpio_keys_default>;
		pinctrl-names = "default";
		status = "okay";

		button-wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&tlmm 19 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};
	};

	soc@0 {
		qupv3: geniqup@1ac0000 {
			status = "okay";

			uart1: serial@1a98000 {
				pinctrl-0 = <&qup_uart1_default>;
				pinctrl-names = "default";
				status = "okay";
			};
		};

		mdio: mdio@90000 {
			phy-reset-gpio = <&tlmm 18 GPIO_ACTIVE_LOW>;
			status = "okay";

			ethernet-phy-package@0 {
				compatible = "qcom,qce1204-package";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
				qcom,package-mode = "qusgmii";
				clocks = <&qce2204_cc QCE2204_NSSCC_SRDS1_SYS_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC1_SRDS1_CH0_TX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC1_SRDS1_CH0_RX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC0_1_SRDS1_CH0_XGMII_TX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC0_1_SRDS1_CH0_XGMII_RX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_TX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_RX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_XGMII_TX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_XGMII_RX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_TX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_RX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_XGMII_TX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_XGMII_RX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_TX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_RX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_XGMII_TX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_XGMII_RX_CLK>,
					 <&qce2204_cc QCE2204_NSSCC_AHB_CLK>,
					 <&qce2204_uniphy1_rx_312p5m>,
					 <&qce2204_uniphy1_tx_312p5m>;
				clock-names = "pcs_sys_clk",
					      "ch0_gmii_tx_clk",
					      "ch0_gmii_rx_clk",
					      "ch0_xgmii_tx_clk",
					      "ch0_xgmii_rx_clk",
					      "ch1_gmii_tx_clk",
					      "ch1_gmii_rx_clk",
					      "ch1_xgmii_tx_clk",
					      "ch1_xgmii_rx_clk",
					      "ch2_gmii_tx_clk",
					      "ch2_gmii_rx_clk",
					      "ch2_xgmii_tx_clk",
					      "ch2_xgmii_rx_clk",
					      "ch3_gmii_tx_clk",
					      "ch3_gmii_rx_clk",
					      "ch3_xgmii_tx_clk",
					      "ch3_xgmii_rx_clk",
					      "ahb_clk",
					      "tx_parent",
					      "rx_parent";
				resets = <&qce2204_cc QCE2204_NSSCC_SRDS1_SYS_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC1_SRDS1_CH0_TX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC1_SRDS1_CH0_RX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC0_1_SRDS1_CH0_XGMII_TX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC0_1_SRDS1_CH0_XGMII_RX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_TX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_RX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_XGMII_TX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_XGMII_RX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_TX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_RX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_XGMII_TX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_XGMII_RX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_TX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_RX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_XGMII_TX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_XGMII_RX_ARES>,
					 <&qce2204_cc QCE2204_NSSCC_SRDS1_XPCS_ARES>;
				reset-names = "pcs_sys_reset",
					      "ch0_gmii_tx_reset",
					      "ch0_gmii_rx_reset",
					      "ch0_xgmii_tx_reset",
					      "ch0_xgmii_rx_reset",
					      "ch1_gmii_tx_reset",
					      "ch1_gmii_rx_reset",
					      "ch1_xgmii_tx_reset",
					      "ch1_xgmii_rx_reset",
					      "ch2_gmii_tx_reset",
					      "ch2_gmii_rx_reset",
					      "ch2_xgmii_tx_reset",
					      "ch2_xgmii_rx_reset",
					      "ch3_gmii_tx_reset",
					      "ch3_gmii_rx_reset",
					      "ch3_xgmii_tx_reset",
					      "ch3_xgmii_rx_reset",
					      "xpcs";

				phy0: ethernet-phy@0 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x0>;
					clocks = <&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_TX_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_RX_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_GEPHY0_SYS_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_MAC1_TX_CLK_SRC>,
						 <&qce2204_cc QCE2204_NSSCC_MAC1_RX_CLK_SRC>;
					clock-names = "tx_clk", "rx_clk", "sys_clk", "tx_src_clk", "rx_src_clk";
					resets = <&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_TX_ARES>,
						 <&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_RX_ARES>,
						 <&qce2204_cc QCE2204_NSSCC_GEPHY0_SYS_ARES>;
					reset-names = "tx_reset", "rx_reset", "sys_reset";
				};

				phy1: ethernet-phy@1 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x1>;
					clocks = <&qce2204_cc QCE2204_NSSCC_MAC2_GEPHY1_TX_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_MAC2_GEPHY1_RX_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_GEPHY1_SYS_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_MAC2_TX_CLK_SRC>,
						 <&qce2204_cc QCE2204_NSSCC_MAC2_RX_CLK_SRC>;
					clock-names = "tx_clk", "rx_clk", "sys_clk", "tx_src_clk", "rx_src_clk";
					resets = <&qce2204_cc QCE2204_NSSCC_MAC2_GEPHY1_TX_ARES>,
						 <&qce2204_cc QCE2204_NSSCC_MAC2_GEPHY1_RX_ARES>,
						 <&qce2204_cc QCE2204_NSSCC_GEPHY1_SYS_ARES>;
					reset-names = "tx_reset", "rx_reset", "sys_reset";
				};

				phy2: ethernet-phy@2 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x2>;
					clocks = <&qce2204_cc QCE2204_NSSCC_MAC3_GEPHY2_TX_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_MAC3_GEPHY2_RX_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_GEPHY2_SYS_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_MAC3_TX_CLK_SRC>,
						 <&qce2204_cc QCE2204_NSSCC_MAC3_RX_CLK_SRC>;
					clock-names = "tx_clk", "rx_clk", "sys_clk", "tx_src_clk", "rx_src_clk";
					resets = <&qce2204_cc QCE2204_NSSCC_MAC3_GEPHY2_TX_ARES>,
						 <&qce2204_cc QCE2204_NSSCC_MAC3_GEPHY2_RX_ARES>,
						 <&qce2204_cc QCE2204_NSSCC_GEPHY2_SYS_ARES>;
					reset-names = "tx_reset", "rx_reset", "sys_reset";
				};

				phy3: ethernet-phy@3 {
					compatible = "ethernet-phy-ieee802.3-c45";
					reg = <0x3>;
					clocks = <&qce2204_cc QCE2204_NSSCC_MAC4_GEPHY3_TX_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_MAC4_GEPHY3_RX_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_GEPHY3_SYS_CLK>,
						 <&qce2204_cc QCE2204_NSSCC_MAC4_TX_CLK_SRC>,
						 <&qce2204_cc QCE2204_NSSCC_MAC4_RX_CLK_SRC>;
					clock-names = "tx_clk", "rx_clk", "sys_clk", "tx_src_clk", "rx_src_clk";
					resets = <&qce2204_cc QCE2204_NSSCC_MAC4_GEPHY3_TX_ARES>,
						 <&qce2204_cc QCE2204_NSSCC_MAC4_GEPHY3_RX_ARES>,
						 <&qce2204_cc QCE2204_NSSCC_GEPHY3_SYS_ARES>;
					reset-names = "tx_reset", "rx_reset", "sys_reset";
				};
			};

			/* Clock controller */
			qce2204_cc: clock-controller@6 {
				compatible = "qcom,qce2204-nsscc";
				reg = <6>;
				#clock-cells = <1>;
				#reset-cells = <1>;
				clocks = <&qce2204_xo>,
					 <0>, <0>,
					 <0>, <0>,
					 <0>,
					 <0>, <0>,
					 <&qce2204_uniphy1_rx_312p5m>,
					 <&qce2204_uniphy1_tx_312p5m>;
				clock-names = "xo",
					      "uniphy0_rx", "uniphy0_tx",
					      "uniphy1_rx", "uniphy1_tx",
					      "uniphy1_ppe_250m",
					      "uniphy0_rx_312p5m",
					      "uniphy0_tx_312p5m",
					      "uniphy1_rx_312p5m",
					      "uniphy1_tx_312p5m";
				assigned-clocks = <&qce2204_cc QCE2204_NSSCC_SRDS1_RX_MUX_SEL>,
						  <&qce2204_cc QCE2204_NSSCC_SRDS1_TX_MUX_SEL>,
						  <&qce2204_cc QCE2204_NSSCC_SRDS1_XGMII_RX_MUX_SEL>,
						  <&qce2204_cc QCE2204_NSSCC_SRDS1_XGMII_TX_MUX_SEL>;
				assigned-clock-parents = <&qce2204_cc QCE2204_NSSCC_MAC1_TX_DIV_CLK_SRC>,
							 <&qce2204_cc QCE2204_NSSCC_MAC1_RX_DIV_CLK_SRC>,
							 <&qce2204_cc QCE2204_NSSCC_MAC1_SRDS1_CH0_XGMII_RX_DIV_CLK_SRC>,
							 <&qce2204_cc QCE2204_NSSCC_MAC1_SRDS1_CH0_XGMII_TX_DIV_CLK_SRC>;
			};
		};

		ess-instance {
			num_devices = <0x1>;

			ess_switch: ess-switch@2a000000 {
				switch_mac_mode = <0x15>; /* mac mode for qce1204 QUSGMII. */
				qcom,port_phyinfo {
					port@0 {
						port_id = <1>;
						phy_address = <0>;
						phy-handle = <&phy0>;
						phy-mode = "qusgmii";
						ethernet-phy-ieee802.3-c45;
					};

					port@1 {
						port_id = <2>;
						phy_address = <1>;
						phy-handle = <&phy1>;
						phy-mode = "qusgmii";
						ethernet-phy-ieee802.3-c45;
					};

					port@2 {
						port_id = <3>;
						phy_address = <2>;
						phy-handle = <&phy2>;
						phy-mode = "qusgmii";
						ethernet-phy-ieee802.3-c45;
					};

					port@3 {
						port_id = <4>;
						phy_address = <3>;
						phy-handle = <&phy3>;
						phy-mode = "qusgmii";
						ethernet-phy-ieee802.3-c45;
					};
				};
			};
		};
	};
};

&sleep_clk {
	clock-frequency = <32000>;
};

&xo {
	clock-frequency = <24000000>;
};

&tlmm {
	gpio_keys_default: gpio-keys-default-state {
		pins = "gpio19";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-down;
	};

	qup_i2c2_default: qup-i2c2-default-state {
		qup_i2c2_scl {
			pins = "gpio16";
			function = "qup_se3_l1";
			drive-strength = <8>;
			bias-pull-up;
		};
		qup_i2c2_sda {
			pins = "gpio17";
			function = "qup_se3_l0";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	qup_spi0_default: qup-spi0-default-state {
		qup_spi0_clk {
			pins = "gpio6";
			function = "qup_se0_l2";
			drive-strength = <8>;
			bias-pull-down;
		};

		qup_spi0_cs {
			pins = "gpio7";
			function = "qup_se0_l3";
			drive-strength = <8>;
			bias-pull-down;
		};

		qup_spi0_miso {
			pins = "gpio8";
			function = "qup_se0_l0";
			drive-strength = <8>;
			bias-pull-down;
		};

		qup_spi0_mosi {
			pins = "gpio9";
			function = "qup_se0_l1";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	qup_uart1_default: qup-uart1-default-state {
		qup_uart1_tx: tx-pins {
			pins = "gpio44";
			function = "qup_se6_l2";
			drive-strength = <8>;
			bias-pull-down;
		};

		qup_uart1_rx: rx-pins {
			pins = "gpio43";
			function = "qup_se6_l3";
			drive-strength = <8>;
			bias-pull-down;
		};
	};
};

&ref_48mhz_clk {
	clock-div = <1>;
	clock-mult = <1>;
};

&xo_clk {
	clock-frequency = <48000000>;
};

&qmp_tmel {
	status = "okay";
};

&tmelcom {
	status = "okay";
};

&apps_iommu {
	status = "okay";
};
